body{
    width: 1160px;
    box-sizing: border-box;
    margin: auto;
}

header{
    background-color: #782221;
    padding-top: 10px;

}

main{
    background-color: #782221;
}

footer{
    background-color: #782221;
    padding-bottom: 15px;
}
.white{
    color: white;
}